{{define "menu"}}
    <nav style="float: right; padding: 0.8rem; background: whitesmoke;">
        Menu
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/secret">Secret</a></li>
        </ul>
    </nav>
{{end}}